.contentInput{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 100%;
  max-width: 460px;
 
}

.contentInputSelect{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;

  width: 100%;
  max-width: 460px;
  position: relative;
 
 
}

.inputStyle {
    height: 30px;
    max-width: 460px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    border: 5px double #a1403e;
    background-color: transparent;
    font-size: 16px;
    color: #a1403e;
}

.titleInput {
  margin: 0px;
  
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #a1403e;
}


.searchable-select {
  
  position: relative;
  width: 250px;
  font-family: Arial, sans-serif;
}



.dropdown {
 position: absolute;
  top: 100%;
  left: 0;
  
  display: block; 
  max-height: 150px;
  width: 100%;
  max-width: 460px;
  overflow-y: auto;
  border: 5px double #a1403e;
  background-color: #f8edd7;
  border-radius: 10px;
  z-index: 100;

  
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: #a1403e;

}

.dropdown-item:hover {
  background-color: #cc8e83;
  color: #ffffff;
}

p {
  font-size: 14px;
  color: #8a2e2e;
}
